# Set the service type. Can be "AWS" or "MongoDB".
RTCSTATS_SERVICE_TYPE=AWS

# For AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# For local S3 and DynamoDB
RTCSTATS_S3_ENDPOINT=
RTCSTATS_DYNAMODB_ENDPOINT=

# DynamoDB Table for rtcstats
RTCSTATS_METADATA_TABLE=rtcstats-meta-table-local

# S3 Bucket for rtcstats
RTCSTATS_S3_BUCKET=jitsi-micros-rtcstats-server

# For MongoDB
#RTCSTATS_MONGODB_URI=mongodb://root:root@mongodb.meet.jitsi:27017
#RTCSTATS_MONGODB_NAME=rtcstats-db
#RTCSTATS_METADATA_COLLECTION=rtcstats-meta-collection
#RTCSTATS_GRIDFS_BUCKET=rtcstats-dump-file-bucket
