# Directory where all configuration will be stored
CONFIG=~/.jitsi-meet-cfg

#
# Etherpad settings
#

# Name your etherpad instance!
TITLE=Shared Document

# Default text
DEFAULT_PAD_TEXT=Welcome to a shared document!

# Name of the skin for etherpad
SKIN_NAME=colibris

# Skin variants for etherpad
SKIN_VARIANTS="dark-toolbar dark-editor dark-background full-width-editor"

# URL of the WBO install, should be PUBLIC_URL/wbo/ (without the scheme)
#WBO_URL=localhost:8443/wbo/
