CONFIG=~/tmp-cfg
TZ=Europe/Amsterdam
XMPP_DOMAIN=meet.jitsi
XMPP_AUTH_DOMAIN=auth.meet.jitsi
XMPP_BOSH_URL_BASE=http://xmpp.meet.jitsi:5280
JVB_COMPONENT_SECRET=s3cr3t
JVB_STUN_SERVERS=stun.l.google.com:19302,stun1.l.google.com:19302,stun2.l.google.com:19302
JICOFO_COMPONENT_SECRET=s3cr37
JICOFO_AUTH_USER=focus
JICOFO_AUTH_PASSWORD=passw0rd

