# Directory where all configuration will be stored.
CONFIG=~/.jitsi-meet-cfg

# Exposed HTTP port.
HTTP_PORT=8000

# Exposed HTTPS port.
HTTPS_PORT=8443

# System time zone.
TZ=Europe/Amsterdam

# Internal XMPP domain. You generally don't need to change this.
XMPP_DOMAIN=meet.jitsi

# Internal XMPP domain for authenticated services. You generally don't need to
# change this.
XMPP_AUTH_DOMAIN=auth.meet.jitsi

# XMPP BOSH URL base. You generally don't need to change this.
XMPP_BOSH_URL_BASE=http://xmpp.meet.jitsi:5280

# XMPP domain for the MUC. You generally don't need to change this.
XMPP_MUC_DOMAIN=muc.meet.jitsi

# XMPP domain for the internal MUC used for jibri, jigasi and jvb pools.
# You generally don't need to change this.
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi

# MUC for the JVB pool. You generally don't need to change this.
JVB_BREWERY_MUC=jvbbrewery

# XMPP user for JVB client connections. You generally don't need to change
# this.
JVB_AUTH_USER=jvb

# XMPP password for JVB client connections.
JVB_AUTH_PASSWORD=passw0rd

# STUN servers used to discover the server's public IP.
JVB_STUN_SERVERS=stun.l.google.com:19302,stun1.l.google.com:19302,stun2.l.google.com:19302

# Media port for the Jitsi Videobridge
JVB_PORT=10000

# XMPP component password for Jicofo.
JICOFO_COMPONENT_SECRET=s3cr37

# XMPP user for Jicofo client connections. You generally don't need to change
# this. NOTE: this option doesn't currently work due to a bug.
JICOFO_AUTH_USER=focus

# XMPP password for Jicofo client connections.
JICOFO_AUTH_PASSWORD=passw0rd

# SIP URI for incoming / outgoing calls
#JIGASI_SIP_URI=test@sip2sip.info

# Password for the specified SIP account
#JIGASI_SIP_PASSWORD=passw0rd

# SIP server (use the SIP account domain if in doubt)
#JIGASI_SIP_SERVER=sip2sip.info

# XMPP user for Jigasi MUC client connections
JIGASI_XMPP_USER=jigasi

# XMPP password for Jigasi MUC client connections
JIGASI_XMPP_PASSWORD=passw0rd

# MUC name for the Jigasi pool
JIGASI_BREWERY_MUC=jigasibrewery

# Minimum port for media used by Jigasi
JIGASI_PORT_MIN=20000

# Maximum port for media used by Jigasi
JIGASI_PORT_MAX=20050

# IP address of the Docker host. See the "Running on a LAN environment" section
# in the README.
#DOCKER_HOST_ADDRESS=192.168.1.1
