version: 2.1

orbs:
  codecov: codecov/codecov@1.0.2
  aws-ecr: circleci/aws-ecr@9.7.0
  aws-ecs: circleci/aws-ecs@4.0.0
  aws-cli: circleci/aws-cli@4.0

jobs:
  checkout-with-submodules:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Init & update git submodules
          command: |
            git submodule sync --recursive
            git submodule update --init --recursive
      - persist_to_workspace:
          root: .
          paths:
            - .  # whole repo, including web/jitsi-meet

workflows:
  deployment:
    jobs:
      - checkout-with-submodules:
          filters:
            branches:
              only:
                - develop
                - master
      - aws-ecr/build_and_push_image:
          name: dev-ecr-build-push-app
          account_id: ${AWS_ACCOUNT_ID}
          auth:
              - aws-cli/setup:
                  role_arn: arn:aws:iam::233718569638:role/stella-circleci
          dockerfile: Dockerfile
          path: web
          build_path: web
          repo: portal-dev-jitsi-web
          tag: 'latest,$CIRCLE_SHA1'
          filters:
            branches:
              only:
                - develop
      - aws-ecr/build_and_push_image:
          name: prod-ecr-build-push-app
          account_id: ${AWS_ACCOUNT_ID}
          auth:
              - aws-cli/setup:
                  role_arn: arn:aws:iam::233718569638:role/stella-circleci
          dockerfile: Dockerfile
          path: web
          build_path: web
          repo: portal-prod-jitsi-web
          tag: 'latest,$CIRCLE_SHA1'
          filters:
            branches:
              only:
                - master
      - aws-ecs/deploy_service_update:
          name: 'dev-app-deployment'
          auth:
            - aws-cli/setup:
                role_arn: arn:aws:iam::233718569638:role/stella-circleci
          cluster: 'stella-dev'
          family: 'portal-dev-jitsi'
          container_image_name_updates: container=web,tag=${CIRCLE_SHA1}
          service_name: 'jitsi'
          force_new_deployment: true
          requires:
            - dev-ecr-build-push-app
          filters:
            branches:
              only:
                - develop
      - aws-ecs/deploy_service_update:
          name: 'prod-app-deployment'
          auth:
            - aws-cli/setup:
                role_arn: arn:aws:iam::233718569638:role/stella-circleci
          cluster: 'stella-prod'
          family: 'portal-prod-jitsi'
          container_image_name_updates: container=web,tag=${CIRCLE_SHA1}
          service_name: 'jitsi'
          force_new_deployment: true
          requires:
            - prod-ecr-build-push-app
          filters:
            branches:
              only:
                - master