version: 2.1

orbs:
  codecov: codecov/codecov@1.0.2
  aws-ecr: circleci/aws-ecr@9.7.0        # still used only for ECS orb if you want
  aws-ecs: circleci/aws-ecs@4.0.0
  aws-cli: circleci/aws-cli@4.0

executors:
  big-docker:
    docker:
      - image: cimg/base:stable
    resource_class: large   # bump this to xlarge if you have access and still OOM

jobs:
  dev-ecr-build-push-app:
    executor: big-docker
    steps:
      - checkout
      - run:
          name: Init & update git submodules
          command: |
            git submodule sync --recursive
            git submodule update --init --recursive

      - aws-cli/setup:
          role_arn: arn:aws:iam::233718569638:role/stella-circleci

      - run:
          name: Login to ECR
          command: |
            : "${AWS_REGION:?AWS_REGION must be set}"
            : "${AWS_ACCOUNT_ID:?AWS_ACCOUNT_ID must be set}"
            aws ecr get-login-password --region "${AWS_REGION}" \
              | docker login --username AWS --password-stdin "${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"

      - run:
          name: Build dev web image
          command: |
            : "${AWS_REGION:?AWS_REGION must be set}"
            : "${AWS_ACCOUNT_ID:?AWS_ACCOUNT_ID must be set}"
            REPO="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/portal-dev-jitsi-web"
            docker build -t "${REPO}:${CIRCLE_SHA1}" -t "${REPO}:latest" web

      - run:
          name: Push dev web image
          command: |
            : "${AWS_REGION:?AWS_REGION must be set}"
            : "${AWS_ACCOUNT_ID:?AWS_ACCOUNT_ID must be set}"
            REPO="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/portal-dev-jitsi-web"
            docker push "${REPO}:${CIRCLE_SHA1}"
            docker push "${REPO}:latest"

  prod-ecr-build-push-app:
    executor: big-docker
    steps:
      - checkout
      - run:
          name: Init & update git submodules
          command: |
            git submodule sync --recursive
            git submodule update --init --recursive

      - aws-cli/setup:
          role_arn: arn:aws:iam::233718569638:role/stella-circleci

      - run:
          name: Login to ECR
          command: |
            : "${AWS_REGION:?AWS_REGION must be set}"
            : "${AWS_ACCOUNT_ID:?AWS_ACCOUNT_ID must be set}"
            aws ecr get-login-password --region "${AWS_REGION}" \
              | docker login --username AWS --password-stdin "${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"

      - run:
          name: Build prod web image
          command: |
            : "${AWS_REGION:?AWS_REGION must be set}"
            : "${AWS_ACCOUNT_ID:?AWS_ACCOUNT_ID must be set}"
            REPO="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/portal-prod-jitsi-web"
            docker build -t "${REPO}:${CIRCLE_SHA1}" -t "${REPO}:latest" web

      - run:
          name: Push prod web image
          command: |
            : "${AWS_REGION:?AWS_REGION must be set}"
            : "${AWS_ACCOUNT_ID:?AWS_ACCOUNT_ID must be set}"
            REPO="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/portal-prod-jitsi-web"
            docker push "${REPO}:${CIRCLE_SHA1}"
            docker push "${REPO}:latest"

workflows:
  deployment:
    jobs:
      - dev-ecr-build-push-app:
          filters:
            branches:
              only:
                - develop

      - prod-ecr-build-push-app:
          filters:
            branches:
              only:
                - master

      - aws-ecs/deploy_service_update:
          name: 'dev-app-deployment'
          auth:
            - aws-cli/setup:
                role_arn: arn:aws:iam::233718569638:role/stella-circleci
          cluster: 'stella-dev'
          family: 'portal-dev-jitsi'
          container_image_name_updates: container=web,tag=${CIRCLE_SHA1}
          service_name: 'jitsi'
          force_new_deployment: true
          requires:
            - dev-ecr-build-push-app
          filters:
            branches:
              only:
                - develop

      - aws-ecs/deploy_service_update:
          name: 'prod-app-deployment'
          auth:
            - aws-cli/setup:
                role_arn: arn:aws:iam::233718569638:role/stella-circleci
          cluster: 'stella-prod'
          family: 'portal-prod-jitsi'
          container_image_name_updates: container=web,tag=${CIRCLE_SHA1}
          service_name: 'jitsi'
          force_new_deployment: true
          requires:
            - prod-ecr-build-push-app
          filters:
            branches:
              only:
                - master
