name: "Release Stable"

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version number
        required: true
        type: string
jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ github.event.inputs.version }}
      prosody_version: prosody-${{ steps.prosody_version.outputs.version }}
      jicofo_version: jicofo-${{ steps.jicofo_version.outputs.version }}
      web_version: web-${{ steps.web_version.outputs.version }}
      jvb_version: jvb-${{ steps.jvb_version.outputs.version }}
      jibri_version: jibri-${{ steps.jibri_version.outputs.version }}
      jigasi_version: jigasi-${{ steps.jigasi_version.outputs.version }}
    steps:
      - name: Prosody gpg key
        id: prosody_gpg_key
        run: curl --location --silent --show-error https://prosody.im/files/prosody-debian-packages.key | sudo dd of=/etc/apt/keyrings/prosody.gpg
      - name: Prosody dsa1024 key support
        run: echo 'APT::Key::Assert-Pubkey-Algo ">=rsa2048,ed25519,ed448,dsa1024";' | sudo tee /etc/apt/apt.conf.d/99weakkey-warning
      - name: Prosody repo
        id: prosody_repo
        run: echo "deb [signed-by=/etc/apt/keyrings/prosody.gpg] https://packages.prosody.im/debian bookworm main" | sudo tee /etc/apt/sources.list.d/prosody.list
      - name: Jitsi repo
        uses: myci-actions/add-deb-repo@11
        with:
          repo: deb https://download.jitsi.org/ stable/
          repo-name: jitsi
          keys-asc: https://download.jitsi.org/jitsi-key.gpg.key
      - name: Get current jicofo versions
        id: jicofo_version
        run: echo "version=$( apt-cache show jitsi-meet | head -10 | grep '^Depends:' | tr ',' '\n' | grep jicofo | cut -d'=' -f2 | tr -d ')' | awk '{print $1}' )" >> $GITHUB_OUTPUT
      - name: Get current jitsi-meet-web versions
        id: web_version
        run: echo "version=$( apt-cache show jitsi-meet | head -10 | grep '^Depends:' | tr ',' '\n' | grep 'jitsi-meet-web ' | cut -d'=' -f2 | tr -d ')' | awk '{print $1}' )" >> $GITHUB_OUTPUT
      - name: Get current jvb versions
        id: jvb_version
        run: echo "version=$( apt-cache show jitsi-meet | head -10 | grep '^Pre-Depends:'| tr ',' '\n' | grep 'jitsi-videobridge2' | cut -d'=' -f2 | tr -d ')' | awk '{print $1}' )" >> $GITHUB_OUTPUT
      - name: Get current prosody versions
        id: prosody_version
        run: echo "version=$( apt-cache madison prosody | awk '{print $3;}' | head -1 |  cut -d'-' -f1 )" >> $GITHUB_OUTPUT
      - name: Get current jibri version
        id: jibri_version
        run: echo "version=$( apt-cache show jibri | head -10 | grep Version | awk '{print $2}' )" >> $GITHUB_OUTPUT
      - name: Get current jigasi version
        id: jigasi_version
        run: echo "version=$( apt-cache show jigasi | head -10 | grep Version | awk '{print $2}' )" >> $GITHUB_OUTPUT

  gh-release:
    runs-on: ubuntu-latest
    needs: [version, base, base-java, jibri, jicofo, jigasi, jvb, prosody, web]
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
      contents: write
    steps:
      - uses: actions/checkout@v4
      - run: |
          sed -i".bak" -e "s/unstable/stable-${{ github.event.inputs.version }}/" *.yml
          # Set all component versions in Dockerfiles and uncomment ARG lines
          # Jicofo
          sed -i -E "s/^#?(ARG JICOFO_VERSION=).*/\1${{ needs.version.outputs.jicofo_version }}/" jicofo/Dockerfile
          # Jigasi
          sed -i -E "s/^#?(ARG JIGASI_VERSION=).*/\1${{ needs.version.outputs.jigasi_version }}/" jigasi/Dockerfile
          sed -i -E "s/^#?(ARG JITSI_AUTOSCALER_SIDECAR_VERSION=).*/\1${{ needs.version.outputs.jigasi_version }}/" jigasi/Dockerfile
          # JVB
          sed -i -E "s/^#?(ARG JITSI_VIDEOBRIDGE_VERSION=).*/\1${{ needs.version.outputs.jvb_version }}/" jvb/Dockerfile
          sed -i -E "s/^#?(ARG JITSI_AUTOSCALER_SIDECAR_VERSION=).*/\1${{ needs.version.outputs.jvb_version }}/" jvb/Dockerfile
          # Prosody
          sed -i -E "s/^#?(ARG JITSI_MEET_PROSODY_VERSION=).*/\1${{ needs.version.outputs.prosody_version }}/" prosody/Dockerfile
          # Web
          sed -i -E "s/^#?(ARG JITSI_MEET_WEB_VERSION=).*/\1${{ needs.version.outputs.web_version }}/" web/Dockerfile
          # Jibri
          sed -i -E "s/^#?(ARG JIBRI_VERSION=).*/\1${{ needs.version.outputs.jibri_version }}/" jibri/Dockerfile
          sed -i -E "s/^#?(ARG JITSI_UPLOAD_INTEGRATIONS_VERSION=).*/\1${{ needs.version.outputs.jibri_version }}/" jibri/Dockerfile
          sed -i -E "s/^#?(ARG JITSI_AUTOSCALER_SIDECAR_VERSION=).*/\1${{ needs.version.outputs.jibri_version }}/" jibri/Dockerfile
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
            # multiline commit message including the version numbers for all components
            commit_message: |
              release: stable-${{ github.event.inputs.version }}
              
              Using versions
              - Prosody = ${{ needs.version.outputs.prosody_version }}
              - Jicofo = ${{ needs.version.outputs.jicofo_version }}
              - Web = ${{ needs.version.outputs.web_version }}
              - JVB = ${{ needs.version.outputs.jvb_version }}
              - Jibri = ${{ needs.version.outputs.jibri_version }}
              - Jigasi = ${{ needs.version.outputs.jigasi_version }}
      - name: release
        uses: softprops/action-gh-release@v2
        with:
            tag_name: stable-${{ github.event.inputs.version }}
            generate_release_notes: true
            make_latest: true
      - run: |
          # Comment out all ARG lines for component versions in Dockerfiles
          # Jicofo
          sed -i -E "s/^(ARG JICOFO_VERSION=)/#\1/" jicofo/Dockerfile
          # Jigasi
          sed -i -E "s/^(ARG JIGASI_VERSION=)/#\1/" jigasi/Dockerfile
          sed -i -E "s/^(ARG JITSI_AUTOSCALER_SIDECAR_VERSION=)/#\1/" jigasi/Dockerfile
          # JVB
          sed -i -E "s/^(ARG JITSI_VIDEOBRIDGE_VERSION=)/#\1/" jvb/Dockerfile
          sed -i -E "s/^(ARG JITSI_AUTOSCALER_SIDECAR_VERSION=)/#\1/" jvb/Dockerfile
          # Prosody
          sed -i -E "s/^(ARG JITSI_MEET_PROSODY_VERSION=)/#\1/" prosody/Dockerfile
          # Web
          sed -i -E "s/^(ARG JITSI_MEET_WEB_VERSION=)/#\1/" web/Dockerfile
          # Jibri
          sed -i -E "s/^(ARG JIBRI_VERSION=)/#\1/" jibri/Dockerfile
          sed -i -E "s/^(ARG JITSI_UPLOAD_INTEGRATIONS_VERSION=)/#\1/" jibri/Dockerfile
          sed -i -E "s/^(ARG JITSI_AUTOSCALER_SIDECAR_VERSION=)/#\1/" jibri/Dockerfile
          sed -i".bak" -e "s/stable-${{ github.event.inputs.version }}/unstable/" *.yml
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
            commit_message: "misc: working on unstable"

  base:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./base
          tags: |
            ${{ secrets.JITSI_REPO }}/base:stable-${{ github.event.inputs.version }}
            ${{ secrets.JITSI_REPO }}/base:stable
          build-args: |
            JITSI_RELEASE=stable
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  base-java:
    runs-on: ubuntu-latest
    needs: base
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./base-java
          tags: |
            ${{ secrets.JITSI_REPO }}/base-java:stable-${{ github.event.inputs.version }}
            ${{ secrets.JITSI_REPO }}/base-java:stable
          build-args: |
            JITSI_REPO=${{ secrets.JITSI_REPO }}
            BASE_TAG=stable-${{ github.event.inputs.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  jibri:
    runs-on: ubuntu-latest
    needs: base-java
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./jibri
          tags: |
            ${{ secrets.JITSI_REPO }}/jibri:stable-${{ github.event.inputs.version }}
            ${{ secrets.JITSI_REPO }}/jibri:stable
          build-args: |
            JITSI_REPO=${{ secrets.JITSI_REPO }}
            BASE_TAG=stable-${{ github.event.inputs.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  jicofo:
    runs-on: ubuntu-latest
    needs: base-java
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./jicofo
          tags: |
            ${{ secrets.JITSI_REPO }}/jicofo:stable-${{ github.event.inputs.version }}
            ${{ secrets.JITSI_REPO }}/jicofo:stable
          build-args: |
            JITSI_REPO=${{ secrets.JITSI_REPO }}
            BASE_TAG=stable-${{ github.event.inputs.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  jigasi:
    runs-on: ubuntu-latest
    needs: base-java
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./jigasi
          tags: |
            ${{ secrets.JITSI_REPO }}/jigasi:stable-${{ github.event.inputs.version }}
            ${{ secrets.JITSI_REPO }}/jigasi:stable
          build-args: |
            JITSI_REPO=${{ secrets.JITSI_REPO }}
            BASE_TAG=stable-${{ github.event.inputs.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  jvb:
    runs-on: ubuntu-latest
    needs: base-java
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./jvb
          tags: |
            ${{ secrets.JITSI_REPO }}/jvb:stable-${{ github.event.inputs.version }}
            ${{ secrets.JITSI_REPO }}/jvb:stable
          build-args: |
            JITSI_REPO=${{ secrets.JITSI_REPO }}
            BASE_TAG=stable-${{ github.event.inputs.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  prosody:
    runs-on: ubuntu-latest
    needs: base
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./prosody
          tags: |
            ${{ secrets.JITSI_REPO }}/prosody:stable-${{ github.event.inputs.version }}
            ${{ secrets.JITSI_REPO }}/prosody:stable
          build-args: |
            JITSI_REPO=${{ secrets.JITSI_REPO }}
            BASE_TAG=stable-${{ github.event.inputs.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

  web:
    runs-on: ubuntu-latest
    needs: base
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./web
          tags: |
            ${{ secrets.JITSI_REPO }}/web:stable-${{ github.event.inputs.version }}
            ${{ secrets.JITSI_REPO }}/web:stable
          build-args: |
            JITSI_REPO=${{ secrets.JITSI_REPO }}
            BASE_TAG=stable-${{ github.event.inputs.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
